extends layout

block content
  h1= title
  form(action="/new", method="POST")
    span Author:
    input(type="text", name="author")
    br

    span Message:
    input(type="text", name="message")
    br

    input(type="submit", value="Add message")