extends layout

block content
  h1= title
  table
    tr
      th User
      th Message
      th Time

      each message in messages
        tr
          td= message.user
          td= message.text
          td= message.added

